$primary: #6096fd;
$secondary: #AAB6FB;
$light: #6690FF;

@import '~bootstrap/scss/bootstrap.scss';

main {
    height: 100vh;
    background: $secondary;
}

.btn-lg {
    width: 50px !important;
}

.text-right {
    text-align: right;
}


